<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="admintops.scss" />
</head>
<body>
    <div class="admin_top">
        <div class="admin_menu_box clearfix">
            <div class="user_search_box"></div>
            <div class="user_search_icon"><button>検索</button></div>
                <ul class="admin_menu">
                <li class="admin_menu_list">商品登録</li>
                <li class="admin_menu_list">在庫照会</li>
                <li class="admin_menu_list">問い合わせ確認</li>
                <li class="admin_menu_list"><レーベル一覧</li>
                <li class="admin_menu_list">ジャンル一覧</li>
                <li class="admin_menu_list">送料一覧</li>
                <li class="admin_menu_list">支払い手数料一覧</li>
            </ul>
        </div>
    </div>
</body>
</html>
