<div class="toppage">
	<div class="top-cm">
		<div class="slider">
			<div class="cm1"><h2>Live!!!</h2></div>
			<div class="cm2"><h2>ただのメガネ!!!</h2></div>
			<div class="cm3"><h2>猫にメガネ!!!</h2></div>
			<div class="cm4"><h2>マイク!!!</h2></div>
		</div>
	</div>

<div class="search_box_kakkokari">
	<%= search_form_for @q do |f| %>
		<%= f.search_field :product_title_cont %>
		<%= f.submit %>
	<% end %>
</div>

	<div class="top_products_line">
		<section class="top-new">
			<h2>新商品</h2>
		</section>
		<div class="new-box clearfix">
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/cdimage.png" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/test.jpg" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/test2.jpg" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/test3.jpg" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="top_products_line">
		<section class="top-new">
			<h2>ランキング</h2>
		</section>
		<div class="new-box clearfix">
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/live.jpg" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/test3.jpg" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/test2.jpg" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/neko.jpg" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="top_products_line">
		<section class="top-new">
			<h2>オススメ！</h2>
		</section>
		<div class="new-box clearfix">
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/cdimage.png" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/cdimage.png" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/cdimage.png" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/cdimage.png" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
