<div class="orders_index_base">
    <h1>注文履歴</h1>
    <% @orders.each do |order| %>
        <%= link_to user_order_path(current_user.id, order.id) do %>
            <div class="order_index_box">
                注文日時
                <%= order.created_at.strftime('%Y年%m月%d日 %H:%M') %><br>
                総計
                <%= order.order_price %>円
            </div>
        <% end %>
    <% end %>
	<div class="kaminarin_no_div">
		<%= paginate @orders, class: "pagenate" %>
	</div>
</div>