<body>
    	<div class="header">
    		<h1>header</h1>
    	</div>
            <div class="main-box">
                    <div class="cart-box">
                        <h1 class="box-title">カート</h1>
                        <div class="settlement-cart">
                            <table>
                                <thead>
                                  <tr>
                                      <th></th>
                                      <th class="settlement-th">商品</th>
                                      <th>アーティスト</th>
                                      <th>数量</th>
                                      <th>小計</th>
                                   </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      <td class="settlement-td"><img src="img./test.jpg"  width="65" height="65"></td>    
                                        <td class="settlement-td">
                                            プライド ［CD+DVD］＜期間生産限定盤＞
                                        </td>

                                        <td class="settlement-td">高橋　優</td>
                                        <td class="settlement-td">1点</td>
                                        
                                        <td class="settlement-td">￥2160</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                      <td class="settlement-td"><img src="img./test.jpg"  width="65" height="65"></td>    
                                        <td class="settlement-td">プライド ［CD+DVD］＜期間生産限定盤＞</td>

                                        <td class="settlement-td">高橋　優</td>
                                        <td class="settlement-td">１点</td>
                                        <td class="settlement-td">￥2160</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                      <td class="settlement-td"><img src="img./test.jpg"  width="65" height="65"></td>    
                                        <td class="settlement-td">
                                            プライド ［CD+DVD］＜期間生産限定盤＞</td>
                                        <td class="settlement-td">高橋　優</td>
                                        <td class="settlement-td">１点</td>
                                        <td class="settlement-td">￥2160</td>
                                    </tr>
                                    <tr>
                                        <td class="cart-td"></td>    
                                        <td class="cart-td"></td>
                                        <td class="settlement-td"></td>
                                        <td class="settlement-td"></td>
                                        <td class="cart-td">
                                            <p>小計（3点）￥5554</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <div class="addressee-payment-box">
                    <div class="Addressee-last">
                        <h1 class="box-title-last">お届け先</h1>
                            <div class="Addressee-inbox">
                        
                                <br>
                                <p class="address-text">123-4567</p><br>
                                <p class="address-text" style="word-wrap:break-word;">東京都渋谷区神南１−２−３-5-6-7-8-9</p><br>
                            </div>
                    </div>

                    <div class="payment-info">
                        <h1 class="box-title-last">お支払い</h1>
                            <div class="payment-info-box">
                                <br>
                                <p>支払い方法：カードor代引き</p><br>
                                <p>小計：¥****</p><br>
                                <p>手数料：¥****</p><br>
                                <p>送料：¥****</p><br>
                                <p>合計：¥****</p><br>
                            </div>
                    </div>
                </div>
                <div class="button-box">
                    <div class="center-button"><a href="thanks.html">注文する</a></div>
                </div>
            </div>
    	<div class="footer">
    		<h1>footer</h1>
    	</div>
    </body>