* {
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.pagination{
	text-align: center;
}

.admin_log_inout{
	width:150px;
	line-height:30px;
	font-size:20px;
	padding-bottom: 5px;
}
.admin_menu_box{
	width:80%;
	margin: 50px auto;
}
.user_search_form{
    background-color: black;
    height: 30px;
    width: 200px;
    float:left;
}
.user_search_box{
    background-color: gray;
    height: 30px;
    width: 45px;
    text-align: center;
    float:left;
}
.admin_nav{
    list-style-type: none;
    width: 100%;
}
.admin_nav_list{
	width:300px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 30px;
}