// Place all the styles related to the discs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* product_touroku.html */
.disc_touroku_base{
    width: 100%;
}
.disc_touroku{
    width: 80%;
    margin: 10px auto;
    margin: 0 auto;
}
.d_disc{
    height: 25px;
    font-size: 17px;
}
.d_type{
    height: 25px;
    font-size: 17px;
}

.disc-submit{
    margin: 0 auto;
    font-size: 17px;
    width: 50px;
    margin-bottom: 20px;
}