// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.genre-index{
	width: 80%;
	margin: 0 auto;
}
.form-box{
	margin: 30px 0;
}
.genre-form{
	height: 25px;
	font-size: 19px;
}
.genre-submit{
	font-size: 21px;
}
table th{
	padding: 10px;
}
table td {
  padding: 3px 10px;
}