// Place all the styles related to the regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.regions_base{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.region_th1{
    width: 50%;
}
.region_th2{
    width: 50%;
}

table:hover{
    background-color: aquamarine;
}