<div class="regions_base">
    <% @regions.each do |region| %>
        <%= link_to edit_region_path(region.id) do %>
            <table class="region_table">
                <tr>
                    <th class="region_th1"><%= region.region_name %>地方</th>
                    <th class="region_th2"><%= region.delivery_price %>円</th>
                </tr>
                <% region.prefectures.each do |prefecture| %>
                    <tr>
                        <td><%= prefecture.prefecture_name %></td>
                        <td></td>
                    </tr>
                <% end %>
            </table>
        <% end %>
    <% end %>
</div>