<div class="order_products_index_base">
    <div class="order_products_table">
        <table>
                <tr>
                    <th>注文番号</th>
                    <th>品別注文ID</th>
                    <th>発送状況</th>
                </tr>
            <% @orders.each do |order_product| %>
                <tr>
                    <td><%= link_to order_product.order_id, edit_order_product_path(order_product.id) %></td>
                    <td><%= link_to "Order_Product_0#{order_product.id}", edit_order_product_path(order_product.id) %></td>
                    <td><%= link_to order_product.status, edit_order_product_path(order_product.id) %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
